@import '../../../styles';

@include mediaS {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@include mediaL {
  ul {
    grid-template-columns: repeat(3, fr);
  }
}
