@import '../../../styles';

ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@include mediaS {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaL {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
